html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: inherit;
}

.header {
    height: 200px;
    width: 100%;
    background: pink;
    display: flex;
    
  }

  .awesome {
    height: 500px;
    width: 100%;
    background: #1F2937;
    display: flex;
    margin: 0; 
    flex-direction: column;
    align-items: stretch;
    
  }

  .random {
    height: 700px;
    width: 100%;
    background: white;
    display: flex;
    margin: 0; 
    flex-direction: column;
    align-items: stretch;
    
  }

  .hero {
    height: 600px;
    width: 100%;
    background: #E5E7EB;
    display: flex;
    margin: 0; 
    flex-direction: column;
    align-items: stretch;
    
  }

  .action {
    height: 450px;
    width: 100%;
    background: white;
    display: flex;
    margin: 0; 
    flex-direction: column;
    align-items: stretch;
    
  }

  .footer {
    height: 150px;
    width: 100%;
    background: #1F2937;
    display: flex;
    margin: 0; 
    flex-direction: column;
    align-items: stretch;
    
  }


